.flatpickr-footer {
    text-align: center;
    padding: 10px;
}

.btn-clear, .btn-today {
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    transition: background 0.3s;
}

.btn-clear {
    background: linear-gradient(to right, #dc3545, #ff6b6b); /* تدرج من الأحمر الداكن إلى الأحمر الفاتح */
    margin-right: 10px;
}

.btn-clear:hover {
    background: linear-gradient(to right, #ff6b6b, #dc3545); /* عكس التدرج عند التمرير */
}

.btn-today {
    background: linear-gradient(to right, #0d6efd, #6ea8fe); /* تدرج من الأزرق الداكن إلى الأزرق الفاتح */
}

.btn-today:hover {
    background: linear-gradient(to right, #6ea8fe, #0d6efd); /* عكس التدرج عند التمرير */
}
