.pages-head {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dee5e7;
    display: block;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 15px;
    position: relative;
}

.pages-head>.clear {
    display: none;
}

.pages-head .filter-tags {
    margin-left: 10px;
    display: inline-block;
    padding: 0px 15px 3px 0;
}

.no-margin {
    margin: 0 !important;
}

/*.pages-head .status {margin-top: 15px;}*/

.pages-head h1 {
    line-height: inherit;
    color: #3a3e63;
    font-size: 22px;
    font-weight: 100;
    margin: 0px 0 0;
    padding: 0;
    position: relative;
    float: left;
}

.pages-head .button {
    margin-left: 7px
}

.pages-head .edit-account {
    margin: 10px 0 0 15px
}

.sub-heading {
    display: block;
    font-size: 12px;
    color: #6167a2
}

.edit-action {
    font-size: 12px;
    color: #6167a2;
    padding: 0 5px;
    text-decoration: underline;
}

.sub-heading a {
    color: #6167a2;
    text-decoration: underline;
}

.sep-line {
    margin-bottom: 25px
}

.top-actions {
    position: relative;
    float: right;
}

.top-actions .form-group {
    margin: 0;
}

#FilterDiv .fa-sort {
    line-height: 2.428571 !important;
    height: 34px;
    margin-top: -7px;
}

#FilterDiv .panel-heading {
    border-bottom: 0px solid #e4e4e4;
}

.sorting-by {
    margin: -12px auto;
    height: 34px;
}

.border-like-list {
    border-right: 4px solid #d8e1e3;
    border-left: 3px solid #d8e1e3;
    border-top: 3px solid #d8e1e3;
}

.m-30-search {
    margin-bottom: 30px !important;
}

.no-bg-color {
    background: none !important;
    margin-bottom: 0px !important;
}

.no-m-b {
    margin-bottom: 0px !important;
}

.top-actions label {
    display: block;
    font-size: 13px;
    margin-bottom: 0
}

.top-actions select {
    font-size: 11px;
    height: 26px;
    padding: 0;
}

.view-actions {
    background: none repeat scroll 0 0 #f6f8f8;
    margin-top: 20px;
    overflow: hidden;
    padding: 20px 15px;
    width: 100%;
}

/*view and data tables */

.view-table tr td {
    padding: 5px;
    vertical-align: top;
}

.snippet-lang {
    padding: 10px 20px
}

.snippet-lang button {
    padding: 4px 10px;
    font-size: 11px;
}

.m-30-search {
    border: 1px solid transparent;
    border-color: #d8e1e3;
}

/*filters*/

.ms-ctn .ms-trigger {
    right: auto;
}

.filter-results {
    background: none repeat scroll 0 0 #fff;
    margin-bottom: 25px;
    padding: 15px;
    position: relative;
    border: none;
}

.filter-results h3 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
    display: inline;
    float: left;
    padding: 0 20px 3px 0;
    line-height: 22px;
    line-height: 26px;
}

.FilterExpanded h3 {
    display: block;
    float: none;
    padding: 0
}

.filter-results h3 span {
    font-size: 11px;
    font-style: italic;
    font-weight: 100
}

.filter-results .button {
    padding: 4px 20px;
    height: 16px;
    overflow: hidden;
    width: 50px;
}

.more-options {
    position: relative;
    right: 0;
    top: 0;
    z-index: 9;
    border: 1px solid rgba(0, 0, 0, .1);
}

.new-filter-actions {
    padding-top: 0px !important;
    margin-right: -10px;
}

.search-form-header-new {
    border: 1px solid transparent;
    border-color: #d8e1e3;
}

.search-btns-bar-footer {
    padding-bottom: 5px;
}

.default-options-search input,
.default-options-search .input select {
    display: inline;
}

.quick-search-filter {
    padding: 0 15px 15px;
}

.quick-search-filter label,
.bulk-actions label {
    display: inline;
    float: left;
    padding: 5px 10px 0 0;
}

.filter-results .top-links {
    position: absolute;
    left: 70px;
    bottom: 5.5px;
}

.filter-results .filter-tags-new {
    position: absolute;
    left: 70px;
    top: 5.5px;
}

.custom-btn span {
    padding: 4px 8px;
    font-size: 12px;
}

.terms-file {
    display: block;
    margin-bottom: 15px;
    background: url(images/action-icons/actions.png) no-repeat left;
    padding: 2px 0 2px 22px
}

.inside-form-box {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dee5e7;
    padding: 15px;
    margin-bottom: 15px;
    /*min-height:320px;*/
}

.view-actions a:hover.gray-btn {
    background-color: #0075ce
}

.totals {
    display: block;
    position: relative;
    font-size: 12px;
    float: right
}

.totals h5 {
    font-size: 12px;
}

.symbol {
    font-size: 11px;
    color: #999;
    padding: 0 2px;
}

.show-more {
    background: #FFFBE5;
    display: block;
    border: 1px solid #FEE115;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 700
}

.head-bar {
    border-bottom: 1px solid #edf1f2;
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin: -15px -15px 15px;
    padding: 15px;
}

/*view invoices*/

/*view invoices*/

.preview-box {
    position: relative;
}

.preview-invoice {}

.preview-invoice iframe {
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    width: 100%;
    position: relative;
    background: none repeat scroll 0 0 #bcc5cd;
    min-height: 600px;
}

.invoice-actions {
    background: none repeat scroll 0 0 #f6f9fc;
    padding: 10px;
    width: 100%;
    border: 1px solid #d8e1e3;
}

.edit-account {
    padding: 2px 0 2px 22px;
    font-size: 12px;
}

.listing-filters {
    padding: 0
}

/*export options*/

.export-options {
    text-align: right;
    padding: 0 0
}

.export-options a {
    padding: 2px 15px 2px 23px;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
}

.export-options .export-link {
    background: url(images/action-icons/reports.png) no-repeat left;
}

.export-options .op-export {
    background: url(images/action-icons/csv.png) no-repeat left;
}

/*terms*/

.terms-type {
    margin: 10px 0 0 8px;
}

.file-check {
    margin-bottom: 10px;
}

.file-terms,
.text-terms {
    padding: 15px;
}

.terms-type-block {
    display: block;
}

.terms-type-block h3 {
    width: auto;
    font-size: 18px;
    line-height: 24px;
}

.terms-type-block h3 label {
    font-weight: 100;
    display: inline;
    padding-bottom: 0;
    padding-right: 7px;
}

.send-row h3 {
    width: auto;
}

.send-row h3 span {
    display: block;
    font-size: 15px;
    font-weight: 100;
    padding: 2px 0
}

.send-row h3 span small {
    font-size: 12px;
}

.occordion-actions {
    padding-top: 10px;
}

p#preview {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 150;
}

.attached-files {
    padding: 15px;
}

#cluetip {
    z-index: 500
}

#Tooltip {
    z-index: 1500
}

/*estimate page blocks*/

.estimate-replies {
    display: block;
    clear: both
}

.estimate-replies .reply-block {
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.reply-block .reply-date {
    font-size: 11px;
    display: block;
}

.add-reply textarea {
    width: 550px;
}

.invoice-info {
    margin-bottom: 15px;
}

.counter {
    font-size: 11px;
    padding: 0 3px;
}

.quotes {
    padding: 15px;
    border-left: 2px solid #ccc;
    margin: 10px 3px;
    background: #f9f9f9
}

/*Others*/

.inline-loader {
    padding: 0 2px;
    display: none;
}

.main-area .help {
    display: inline-block;
    background: url(images/question.png) no-repeat;
    height: 14px;
    width: 14px;
}

.center-line {
    background: url(images/dot.gif) repeat-y center;
}

/*my account*/

.profile-block {
    overflow: hidden;
}

.section {}

.profile-block img {
    padding: 4px;
    border: 1px solid #ccc
}

.my-info {
    overflow: hidden;
    padding-left: 25px;
    position: relative;
}

.my-info p {
    padding-bottom: 0
}

.my-info h2 {
    padding-bottom: 0;
    margin-bottom: 6px
}

.sub-text {
    color: #888;
    font-size: 11px;
    padding-bottom: 7px;
    display: block
}

.my-info h4 {
    color: #6167a2;
    padding-bottom: 7px;
}

.my-info ul {
    margin: 20px 0 10px 0;
}

.my-info ul li {
    color: #555;
    line-height: 15px;
}

.my-info ul li i {
    font-size: 16px;
    margin-right: 10px;
}

.current-plan {
    padding: 10px 10px 10px 0;
    margin-bottom: 10px;
    text-align: center
}

.current-plan h4 {
    padding-bottom: 0;
    font-weight: 700
}

.current-plan h3 strong {
    font-weight: 700
}

.exp-date {
    padding: 5px 0;
    font-size: 12px;
}

.account-statistics {
    padding: 10px 0;
}

.progress-bar-wp {
    overflow: hidden;
    padding: 6px 11px;
}

.percentage {
    height: 14px;
    margin: -1px 0;
}

.progress-bar strong {
    width: 165px;
    padding-right: 10px;
    text-align: left
}

.bar {
    border: 1px solid #ccc;
    background: #F9FCFF;
    height: 14px;
    margin-right: 10px;
    width: 160px;
}

.page-snippets {
    display: none
}

.pending-actions {
    border-bottom: 1px solid #ccc;
    padding: 7px 0;
}

.pending-actions h3 {
    font-size: 15px;
}

.pending-actions p {
    padding-bottom: 0;
}

.file-properties {
    padding: 0 0 5px 0;
}

.file-properties p {
    padding: 0 0 0;
}

.btnDone {
    display: none !important;
}

.template-list ul {
    list-style: none;
}

.template-list li {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 2px solid #eaeff0;
    float: left;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.template-list li a {
    display: block;
    overflow: hidden;
    position: relative;
    width: 101px;
}

.template-list li a img {
    border: 2px solid #fff;
}

.template-list li a:hover img,
.template-list li a.selected img {
    border: 2px solid #189DE2;
}

.statement-info {
    padding-bottom: 15px;
}

.chart-cont .Notemessage {
    margin: 0 auto
}

.notification-value {
    background: #a1a1a1;
    border-radius: 2px;
    color: #FFF;
    font-family: verdana;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    margin: 0 5px;
    padding: 1px 3px 2px;
    /*position: absolute; right: 3px; top: -4px;*/
    z-index: 10;
}

.width-td {
    width: 30px;
}

#SelectInvoiceTemplate {
    border: 1px solid #CFDADD;
    border-radius: 2px;
    font-size: 11px;
    height: 26px;
    padding: 0px;
    min-width: 120px;
    line-height: 1.42857;
    color: #555;
}

.sorting-by {
    cursor: pointer;
    margin: -11px auto;
}

.filter-results .dropdown ul.dropdown-menu {
    margin: 11px auto;
}

.status-list {
    float: right;
}

.profile_map {
    height: 167px !important;
}

#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-1,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-10,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-11,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-12,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-2,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-3,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-4,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-5,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-6,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-7,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-8,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-lg-9,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-1,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-10,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-11,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-12,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-2,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-3,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-4,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-5,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-6,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-7,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-8,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-md-9,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-1,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-10,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-11,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-12,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-2,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-3,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-4,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-5,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-6,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-7,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-8,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-sm-9,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-1,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-10,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-11,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-12,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-2,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-3,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-4,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-5,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-6,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-7,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-8,
#FilterDiv .m-30-search #FilterForm .col-filter-s2020>.col-xs-9 {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
}