/*	-------------------------------------------------------------
File Name rtl.css
      -------------------------------------------------------------	 */

.attachment-file {
    margin: 0px 0 10px 10px;
}

.placeholders ul {
    margin-left: 0;
    margin-right: 15px
}

.user-box {
    padding-left: 15px;
    float: left;
    padding-right: 0
}

.user-log .badge.up {
    left: 4px;
    right: auto
}

.text-left {
    text-align: right
}

.btn-all-back {
    margin-right: 14px;
    margin-left: auto
}

.delete-button {
    float: left
}

.bar-status {
    margin: -5px 10px -5px -15px;
}

.user-log .navbar-nav>li>.dropdown-menu:after {
    left: 10px;
    right: auto
}

.user-log .navbar-nav>li>.dropdown-menu:before {
    left: 9px;
    right: auto
}

.client_contact_row .remove-item {
    left: -1px;
    right: auto
}

.noti-btns li {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #0189DE;
    padding-right: 0;
    margin-right: auto;
    border-right: none
}

.form-group.right {
    padding-left: 5px;
    padding-right: 5px
}

.sortable-arrows a {
    float: right;
    margin: 0 0 0 1px
}

.remove-tag a {
    margin: -3px 3px 0 0
}

.open-submenu:after {
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    right: auto;
    margin-right: 43px;
    left: auto;
    margin-left: auto
}

.width-td {
    width: 130px;
}

.crumbs span {
    float: right
}

.crumbs a {
    float: right
}

.double-border {
    border-left-width: 2px !important;
    border-right-width: 1px !important;
}

.lb-close {
    left: 11px;
    right: auto
}

.cancel-btn {
    float: left
}

.inline-menu li>a:before {
    margin-left: 5px;
    margin-right: auto;
}

.qtip-content {
    direction: rtl;
    text-align: right;
}

.Notemessage {
    background: url("images/info.png") no-repeat scroll calc(100% - 12px) 10px #f0ad4e;
    color: #fff;
}

.Errormessage {
    background: url("images/danger.png") no-repeat scroll calc(100% - 12px) 10px #f26262;
    color: #fff;
}

.Sucmessage {
    background: url("images/yes.png") no-repeat scroll calc(100% - 12px) 10px #28a745;
    color: #fff;
}

.no-data button {
    right: 50%;
    margin-right: -100px;
    left: auto;
    margin-left: auto
}

.clip-check {
    padding-right: 0;
    padding-left: 0
}

.clip-check label {
    margin-left: 15px;
    margin-right: 0;
    padding-right: 30px !important;
    padding-left: 0 !important;
}

.clip-check label:before {
    right: 0;
    margin-left: 10px;
    left: auto;
    margin-right: auto
}

.clip-check label:after {
    right: 4px;
    left: auto
}

.clip-check.check-md label {
    margin-left: 15px;
    padding-right: 35px !important;
    padding-left: 0;
    margin-right: auto
}

.clip-check.check-md label:after {
    right: 5px;
    left: auto
}

.clip-check.check-lg label {
    margin-left: 15px;
    padding-right: 40px !important;
    padding-left: 0;
    margin-right: auto
}

.clip-check.check-lg label:after {
    right: 6px;
    left: auto
}

.clip-radio {
    padding-right: 0;
    padding-left: 0
}

.clip-radio label {
    margin-left: 15px;
    padding-right: 25px !important;
    padding-left: 0 !important;
    margin-right: auto
}

.clip-radio label:before {
    right: 0;
    margin-left: 10px;
    left: auto;
    margin-right: auto
}

.clip-radio label:after {
    right: 0;
    margin-left: 10px;
    left: auto;
    margin-right: auto
}

.clip-radio.radio-md label {
    padding-right: 30px !important;
    padding-left: 0
}

.clip-radio.radio-lg label {
    padding-right: 35px !important;
    padding-left: 0
}

.notice-bar {
    right: 0;
    left: auto
}

.drop-4-col li {
    float: right
}

#detailed_list label {
    margin-left: 17px;
    margin-right: auto
}

.navbar-right {
    float: left
}

.user-log>ul>li {
    float: right
}

.user-log .dropdown-menu>li .fa {
    margin-left: 4px;
    margin-right: auto
}

.status {
    margin-left: auto
}

#toggle_taxes:before {
    margin-left: 5px;
    margin-right: auto
}

.tabs-content {
    border-right: 1px solid #dee5e7;
    border-left: none
}

.side-nav {
    margin-left: -1px;
    border-left: 1px solid #dee5e7;
    margin-right: auto;
    border-right: none
}

.count_notif {
    left: auto !important;
    right: auto !important;
    float: right !important;
    margin-right: 0 !important;
    margin-left: 4px !important
}

.inner-loader {
    margin: 0 -20px 0 0;
    right: 50%;
    border-left: 5px solid #bbb;
    border-right: 5px solid #666;
    left: auto
}

.circle-num {
    right: 8px;
    margin-left: 5px;
    margin-right: -6px;
    left: auto
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.product-img {
    float: right
}

.product-img .overly {
    left: auto;
    right: 0
}

.mobile-options li a:before {
    margin-left: 8px !important;
    margin-right: auto !important
}

.Supplier_contact_row .remove-item {
    left: 0;
    right: auto
}

@media (min-width: 768px) {
    .main-nav li ul li a,
    .main-nav li ul li a:hover {
        text-align: right
    }
    .Supplier_contact_row .remove-item {
        left: 0;
        right: auto
    }
    .side-nav {
        right: 210px;
        left: auto;
    }
    .nav-wrapper {
        margin-left: 0;
        margin-right: 140px;
        padding: 30px;
    }
    .shrinked-sidebar .side-nav {
        left: initial;
        right: 60px;
    }
}

.left {
    float: right
}

.right {
    float: left
}

.barrow {
    padding-right: 12px
}

.bottom-nav {
    border-right: 2px solid #d8e1e3
}

.multiselect-container .checkbox input {
    margin-left: 5px;
    margin-right: 0
}

.timeline-wrapper:before {
    right: 53px
}

.date-label {
    text-align: right !important
}

.timeline-item {
    text-align: right;
    margin-right: 80px
}

.timeline_quote .timeline-item p i {
    margin-left: 10px
}

.tokenfield .token .close,
#mcTooltip,
.colorpicker input,
select,
textarea,
input,
.footer-contents p,
.footer-contents p a {
    font-family: tahoma
}

.timeline_quote .timeline-item p i.fa-quote-left {
    margin-right: 10px
}

.timeline-attach i {
    margin-left: 5px
}

.timeline-item:after {
    left: -20px;
    border-right: 10px solid #fff
}

.timeline-item:before {
    left: -24px;
    border-right: 11px solid #d8e1e3
}

.item-wrapper .timeline-item:after {
    right: -20px !important;
    left: auto !important;
    border-left: 10px solid #fff !important;
    border-right: 10px solid transparent !important
}

.item-wrapper .timeline-item:before {
    right: -24px !important;
    left: auto !important;
    border-left: 11px solid #d8e1e3 !important;
    border-right: 11px solid transparent !important
}

.extend {
    left: -37px
}

.item-wrapper .extend {
    right: -41px
}

.extend-ico {
    right: -86px
}

.extended .extend {
    right: -72px
}

.extended .timeline-item {
    margin-right: 100px;
    margin-left: 0
}

.timeline_add_invoice .extend i:after,
.timeline_add_estimate .extend i:after,
.timeline_add_recurring_invoice .extend i:after {
    left: -13px;
    padding: 0 2px
}

.timeline_update_invoice .extend i:after,
.timeline_update_expense .extend i:after,
.timeline_update_estimate .extend i:after,
.timeline_update_income .extend i:after,
.timeline_edit_staff .extend i:after,
.timeline_edit_activity .extend i:after,
.timeline_edit_project .extend i:after,
.timeline_edit_client .extend i:after,
.timeline_edit_product .extend i:after,
.timeline_send_login .extend i:after,
.timeline_edit_email_template .extend i:after,
.timeline_edit_layout .extend i:after,
.timeline_edit_recurring_invoice .extend i:after {
    left: -13px;
    padding: 0 2px
}

.timeline_delete_invoice .extend i:after,
.timeline_delete_income .extend i:after,
.timeline_delete_expense .extend i:after,
.timeline_delete_client .extend i:after,
.timeline_delete_activity .extend i:after,
.timeline_delete_project .extend i:after,
.timeline_delete_layout .extend i:after,
.timeline_delete_email_template .extend i:after,
.timeline_delete_recurring_invoice .extend i:after,
.timeline_delete_product .extend i:after {
    left: -13px;
    padding: 0 2px
}

.timeline_delete_invoice_payment .extend i:before,
.timeline_delete_staff .extend i:before {
    left: -13px;
    padding: 0 2px
}

.timeline_add_invoice_payment .extend i:before,
.timeline_client_pay .extend i:before,
.timeline_add_staff .extend i:before,
.timeline_add_activity .extend i:before,
.timeline_add_project .extend i:before,
.timeline_add_client .extend i:before,
.timeline_add_layout .extend i:before,
.timeline_add_email_template .extend i:after,
.timeline_add_product .extend i:before {
    left: -13px;
    padding: 1px 2px 0
}

.timeline_update_invoice_payment .extend i:after {
    left: -13px;
    padding: 0 4px 0 2px
}

.timeline_add_expense .extend i:after,
.timeline_add_income .extend i:after {
    left: -17px;
    padding: 1px 2px 0
}

.timeline_add_time .extend i:before {
    left: -13px;
    padding: 1px 2px 0
}

.timeline_update_time .extend i:before {
    left: -13px;
    padding: 1px 6px 0 2px
}

.timeline_delete_time .extend i:before {
    left: -13px;
    padding: 0 2px
}

#TimelineBlock>.panel {
    margin: -20px -20px 20px
}

.timeline_delete_expense .extend i:after,
.timeline_update_expense .extend i:after,
.timeline_update_delete .extend i:after,
.timeline_delete_income .extend i:after {
    left: -16px
}

.button-toggle {
    margin-left: 10px;
    margin-right: 0
}

.day-view-week-nav>li {
    float: right;
    margin-left: 0
}

.day-view-week-nav>li>a {
    margin-left: -1px;
    margin-right: 0
}

.js-jump-one-day-back span {
    background-position: 2px -63px;
}

.js-jump-one-day-forward span {
    background: url(img/arrow.png) no-repeat 2px 7px;
}

#MultiSelectForm .day-view-entry td:first-child {
    padding-right: 25px
}

#MultiSelectForm .clip-check label {
    right: 0;
    left: auto
}

.radio_field_ul li {
    margin-right: 0;
    margin-bottom: 0;
}

.day-view-entry .client {
    padding-right: 2px
}

.day-view-entry .task {
    float: right
}

.day-view-entry .ndash {
    float: right
}

.day-view-entry .external-link img {
    float: right;
    margin-left: 5px;
    margin-right: 0
}

.day-view-entry .external-link-zendesk {
    padding: 0 20px 1px 2px
}

.day-view-entry .entry-time {
    text-align: left;
    width: 155px
}

.day-view-entry .entry-button {
    padding-right: 0;
    padding-left: 15px;
    text-align: left
}

.day-view-entry .entry-button>.button {
    padding-left: 13px;
    padding-right: 0
}

.day-view-total {
    text-align: left
}

.reports-filters .input {
    margin-left: 20px;
    margin-right: 0
}

.report.no-collapse.bordered-rtl td,
.report.no-collapse.bordered-rtl th {
    border-right: 1px solid #d8e1e3;
}

#loader {
    right: 0;
    left: 0
}

/*Start My custom styles*/

.collapse_item_div button {
    float: right;
}

.builder-item>button.btn {
    left: -1px !important;
    right: auto !important;
}

.ajax-file-upload-statusbar {
    margin-left: 10px;
    margin-right: auto;
}

.ajax-file-upload-filename {
    margin: 0 0px 5px 5px;
}

.ajax-file-upload-filesize {
    margin: 0 0px 5px 5px;
}

.ajax-file-upload-progress {
    margin: 5px 0px 5px 10px;
}

.ajax-file-upload-percent {
    right: 48%;
    left: auto;
}

.ajax-file-upload-red {
    margin: 5px 0px 5px 10px;
}

.ajax-file-upload-green {
    margin: 5px 0px 5px 10px;
}

.ajax-file-upload {
    margin: 0 0 10px 10px;
}

.ajax-upload-dragdrop .fa-cloud-upload {
    margin-left: 10px;
    margin-right: auto;
}

.ajax-upload-dragdrop {
    text-align: right;
}

.builder-item>button.btn-info {
    left: 29px !important;
    right: auto !important;
}

.form-fields ul li {
    padding: 7px 8px 7px 0;
}

.form-fields ul li i {
    margin-left: 9px;
    float: right !important;
    margin-right: auto;
}

.meta-details {
    float: right
}

.meta-details li {
    float: right;
    margin: 5px 0 0 15px
}

.loader-in {
    right: 50%;
    margin: -50px -50px 0 0;
    border-left: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid #fff
}

.time-input,
.time-notes {
    padding-right: 0;
    padding-left: 0
}

.time-notes {
    text-align: right
}

.pages-head .filter-tags {
    margin-right: 10px;
    margin-left: 0;
    padding: 8px 0 3px 15px
}

.pages-head h1 {
    float: right;
}

.pages-head .button {
    margin-right: 7px;
    margin-left: 0
}

.pages-head .edit-account {
    margin: 10px 15px 0 0
}

.top-actions {
    float: left !important;
}

.filter-results h3 {
    float: right;
    padding: 0 0 3px 20px
}

.more-options {
    left: 0;
    right: auto
}

.quick-search-filter label,
.bulk-actions label {
    float: right;
    padding: 5px 0 0 10px
}

.filter-results .top-links {
    right: 70px
}

.terms-file {
    padding: 2px 22px 2px 0
}

.totals {
    float: left
}

.edit-account {
    padding: 2px 22px 2px 0
}

.export-options {
    text-align: left
}

.export-options a {
    padding: 2px 23px 2px 15px
}

.terms-type {
    margin: 10px 8px 0 0
}

.terms-type-block h3 label {
    padding-left: 7px;
    padding-right: 0
}

.quotes {
    border-right: 2px solid #ccc
}

.my-info {
    padding-right: 25px;
    padding-left: 0
}

.current-plan {
    padding: 10px 0 10px 10px
}

.progress-bar strong {
    padding-left: 10px;
    margin-right: 0;
    text-align: right
}

.bar {
    margin-left: 10px;
    margin-right: 0
}

.file-properties {
    padding: 0 0 5px
}

.template-list li {
    float: right;
    margin-left: 10px;
    margin-right: 0
}

.View::before,
.Edit::before,
.Delete::before,
.Send::before,
.Pdf::before,
.html-invoice::before,
.save::before,
.send-statement::before,
.Loginas::before,
.Payment::before,
.statement::before,
.submenu-more-actions .Print::before,
.dropdown-menu .Print::before,
.op-export::before,
.Close::before,
.Accept::before,
.draft::before,
.save-and-mail::before,
.Image::before,
.activity_log::before,
.Copy::before {
    margin-left: 3px;
    margin-right: 0;
    width: 16px;
    text-align: center
}

.clients-bar .input {
    margin-left: 10px;
    margin-right: 0
}

.client-pref strong {
    padding-left: 2px;
    padding-right: 0
}

.actions-bar {
    padding-left: 0
}

.clients-bar .input-group {
    padding-left: 0
}

.status-list .dropdown-menu {
    left: 0px !important;
    right: auto !important;
    max-height: 500px;
    overflow-y: auto;
}

.invoice-total {
    float: left
}

.new-row .sub-list {
    right: 0;
    left: auto
}

.item-name textarea {
    padding: 0 4px 0 25px
}

.second-actions .text label {
    padding-left: 15px;
    padding-right: 0
}

.sub-list li a.item-settings,
.sub-list li a:hover.item-settings {
    padding-left: 0
}

.products-list li a,
.taxes-list li a {
    padding-right: 15px;
    padding-left: 0
}

.products-list li a span {
    left: 15px;
    right: auto
}

.products-list li a span.view-click-span {
    left: 15px;
    right: auto
}

.item-name .sub-list {
    right: -1px;
    left: auto
}

.fluid .drop-items .sub-list li a {
    padding-right: 13px;
    padding-left: 0
}

.table tr td.new-row-cell {
    border-right: 1px solid #eee;
    padding-right: 0;
    border-left: none;
    padding-left: 0
}

th.empty-cell-last {
    border-left-color: #fff;
    padding-right: 0;
    padding-left: 0
}

td.empty-cell-last {
    border-left-color: #fff
}

.actions-btns .sub-list {
    right: 0;
    left: auto
}

.invoice-items a.select-arrow,
.invoice-items a.select-arrow:hover {
    left: 0;
    right: auto
}

.invoice-items a.select-arrow-bg,
.invoice-items a.select-arrow-bg:hover {
    left: 5px;
    right: auto !important
}

.form-control {
    margin-right: 0
}

.fa-angle-right::before {
    content: "\f104"
}

.filter-tags li {
    float: right;
    padding: 6px 11px 6px 5px
}

.filter-tags li a {
    padding: 0 5px 0 3px
}

.listing-table th,
.listing-table .table-header td {
    text-align: right
}

.listing-table td.empty-cell,
.listing-table td:hover.empty-cell {
    border-left: 1px solid #ccc;
    border-right: none
}

.listing-table .table-header a {
    padding-left: 15px;
    padding-right: 0
}

.action li {
    float: right
}

.tips-image {
    margin: 0 3px 0 4px
}

span.tooltip {
    left: 0;
    right: auto
}

.new-row a span {
    padding-left: 5px;
    padding-right: 0
}

.Paging {
    float: left
}

.paging ul li {
    float: right
}

#ProductTags .ms-sel-item {
    width: auto;
    float: right;
    margin-right: 0;
    margin-left: 3px
}

#ProductTags .ms-sel-ctn input {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    float: right;
}

.paging ul li.current {
    float: right
}

.bulk-actions {
    width: auto;
    margin-right: 18px;
    margin-left: 0;
    float: right;
    background: url(images/bulk_actionsrtl.png) no-repeat right
}

.bulk-actions a {
    margin-left: 7px;
    margin-right: 0
}

#ExpenseAmount {
    padding: 0 10px 4px !important
}

.fix-h .btn {
    margin-right: -1px !important;
    margin-left: -0 !important
}

.ajax-file-upload-statusbar {
    margin-left: 10px;
    margin-right: auto
}

.ajax-file-upload-filename {
    margin: 0 0 5px 5px
}

.ajax-file-upload-filesize {
    margin: 0 0 5px 5px
}

.ajax-file-upload-progress {
    margin: 5px 0 5px 10px
}

.ajax-file-upload-percent {
    right: 48%;
    left: auto
}

.ajax-file-upload-red {
    margin: 5px 0 5px 10px
}

.ajax-file-upload-green {
    margin: 5px 0 5px 10px
}

.del-pos {
    right: auto;
    left: 5px;
}

/*.ajax-file-upload{margin:0 0 10px 10px}
.ajax-upload-dragdrop .fa-cloud-upload{margin-left:10px;margin-right:auto}
.ajax-upload-dragdrop{text-align:right}*/

.ms-ctn-bootstrap-focus,
.ms-ctn-bootstrap-focus .ms-res-ctn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.ms-ctn .ms-sel-ctn input {
    left: 3px;
    right: 3px;
    width: 100% !important;
}

.ms-ctn .ms-trigger {
    left: 0;
    right: auto;
    border-left: 0px solid #ccc;
    border-right: 1px solid #ccc
}

.ms-ctn .ms-trigger .ms-trigger-ico {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-right: 8px;
    margin-left: 0
}

.ms-ctn .ms-trigger:hover {
    left: 1px;
    right: auto;
    border-radius: 3px 0 0 3px
}

.ms-res-ctn .ms-res-group {
    text-align: right
}

.ms-res-ctn .ms-res-item {
    text-align: right
}

.ms-res-ctn .ms-res-item-grouped {
    padding-right: 15px;
    padding-left: 0
}

.ms-sel-ctn {
    padding-left: 25px;
    padding-right: 0
}

.ms-no-trigger .ms-sel-ctn {
    padding-left: 0
}

.ms-sel-ctn .ms-sel-item {
    margin: 3px 0 1px
}

.ms-ctn .ms-sel-item {
    padding: 1px 5px 3px 4px;
    margin: 1px 0
}

.ms-sel-ctn .ms-sel-text {
    padding-left: 0;
    margin-right: 0
}

.ms-sel-ctn .ms-sel-item .ms-close-btn {
    float: left;
    margin: 7px 10px 0 2px
}

.ms-stacked .ms-sel-item .ms-close-btn {
    margin-right: 0
}

.ms-helper {
    left: 0;
    right: auto
}

.bootstrap-select>.btn {
    padding-left: 25px;
    padding-right: 10px
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="col-"] {
    margin-right: 0;
    margin-left: 0
}

.bootstrap-select.btn-group.dropdown-menu-right,
.bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row-fluid .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
    float: left
}

.input-append .bootstrap-select.btn-group {
    margin-right: -1px;
    margin-left: -1px
}

.input-prepend .bootstrap-select.btn-group {
    margin-left: -1px;
    margin-right: 0
}

body .bootstrap-select.btn-group .btn .filter-option {
    text-align: right
}

.bootstrap-select.btn-group .btn .caret {
    right: 12px;
    right: calc(100% - 15px)
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-right: 2.25em;
    padding-left: 0
}

.bootstrap-select.btn-group .dropdown-menu li small {
    padding-right: .5em;
    padding-left: 0
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    left: 15px;
    right: auto
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-left: 34px;
    margin-right: 0
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    right: 9px;
    left: auto
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    right: 10px;
    left: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    left: 12px;
    right: auto
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    left: 13px;
    right: auto
}

.bs-actionsbox {
    float: right
}

.mobile-device {
    right: 0;
    left: auto
}

select,
textarea,
input {
    margin-right: auto;
    margin-left: 5px
}

.paragraph ul,
.paragraph ol {
    padding-left: 0;
    padding-right: 20px
}

.steper ul li {
    float: right;
    margin-left: 25px;
    padding-left: 20px;
    padding-right: 0;
    margin-right: auto
}

.steper ul li:last-child {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto
}

.steper ul li:after {
    left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid #d8e1e3;
    right: auto
}

.steper ul li.current:after {
    border-right: 10px solid #ec971f;
    border-left: none
}

.steper ul li.done:after {
    border-right: 10px solid #28a745;
    border-left: none
}

.steper ul li span {
    float: right;
    margin-left: 8px;
    margin-right: auto
}

input.error-message,
select.error-message,
textarea.error-message {
    margin-right: 0;
    margin-left: auto
}

.Notemessage,
.Errormessage,
.Sucmessage {
    padding: 15px 50px 15px 15px
}

.confirm-action button {
    margin-right: 10px;
    margin-left: auto
}

.config-msg .delete-items span.one-item {
    float: right;
    margin: 0 0 5px 5px
}

.config-msg .delete-items span.seprated-item {
    float: right
}

.snippet-content {
    padding: 15px 87px 10px 20px;
    background: url(images/note-qar.png) no-repeat scroll right center #fff
}

.Notemessage {
    background: url(images/infoar.png) no-repeat scroll right 10px #f0ad4e;
    color: #fff
}

.side-nav .nav-pills>li.active>a:after,
.side-nav .nav-pills>li.active>a:before {
    border-left: 10px solid transparent !important;
    border-right: 10px solid #fff !important;
    left: -19px;
    right: auto;
}

.side-nav .nav-pills>li.active>a:before {
    right: auto;
    left: -20px;
    border-left: 10px solid transparent !important;
    border-right: 10px solid #dee5e7 !important;
}

.side-nav .nav-pills>li.active:hover>a:after {
    border-right: 10px solid #eee;
    border-left: none
}

.side-content .item-list {
    background-position-x: right !important;
    padding-right: 70px;
    padding-left: 0
}

.side-content .item-list.ico-avatar {
    background: url(/css/images/client.png) right 8px no-repeat
}

.side-content .item-list.ico-method {
    background: url(/css/images/method.png) right 8px no-repeat
}

.side-content .item-list.ico-prof {
    background: url(/css/images/gaine.png) right 8px no-repeat
}

.side-content .item-list.ico-tax {
    background: url(/css/images/tax.png) right 8px no-repeat
}

.side-content .item-list.ico-sheet {
    background: url(/css/images/stocktaking.png) right 8px no-repeat
}

.side-content .item-list.ico-project {
    background: url(/css/images/report1.png) right 8px no-repeat
}

.side-content .item-list.ico-activity {
    background: url(/css/images/report2.png) right 8px no-repeat
}

.side-content .item-list.ico-staff {
    background: url(/css/images/staff.png) right 8px no-repeat
}

.side-content .item-list.ico-calendar {
    background: url(/css/images/date-calendar.png) right 8px no-repeat
}

.side-content .item-list.ico-yearly {
    background: url(/css/images/date-yearly.png) right 8px no-repeat
}

.side-content .item-list.ico-monthly {
    background: url(/css/images/date-number.png) right 8px no-repeat
}

.side-content .item-list.ico-daily {
    background: url(/css/images/date-daily.png) right 8px no-repeat
}

.side-content .item-list.ico-byproduct {
    background: url(/css/images/byproduct.png) right 8px no-repeat
}

.side-content .item-list.ico-bycategory {
    background: url(/css/images/bycategory.png) right 8px no-repeat
}

.side-content .item-list.ico-bybrand {
    background: url(/css/images/bycategory.png) right 8px no-repeat
}

.side-content .item-list.ico-inventory {
    background: url(/css/images/ico-inventory.png) right 8px no-repeat;
}

.side-content .item-list.ico-inventory-transactions {
    background: url(/css/images/ico-inventory-transactions.png) right 8px no-repeat;
}

.hover-caption {
    right: 101%;
    left: auto
}

.item-list:hover .hover-caption,
.item-list:focus .hover-caption {
    right: 0;
    left: auto
}

.hover-caption>.btn {
    float: right
}

.hover-caption>.btn:last-child {
    margin-right: -1px !important;
    margin-left: auto
}

.fa-ul {
    padding-right: 0;
    margin-right: 2.14285714em;
    padding-left: 0;
    margin-left: auto
}

.fa-li {
    right: -2.14285714em;
    left: auto
}

.fa-li.fa-lg {
    right: -1.85714286em;
    left: auto
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.fa.pull-right {
    margin-right: .5em;
    margin-left: auto
}

.fa.pull-left {
    margin-left: .5em;
    margin-right: auto
}

.fa-stack-1x,
.fa-stack-2x {
    right: 0;
    left: auto
}

.View:before,
.Edit:before,
.Delete:before,
.Send:before,
.Pdf:before,
.html-invoice:before,
.save:before,
.send-statement:before,
.Loginas:before,
.Payment:before,
.statement:before,
.submenu-more-actions .Print:before,
.dropdown-menu .Print:before,
.op-export:before,
.Close:before,
.Accept:before,
.draft:before,
.save-and-mail:before,
.Image:before,
.activity_log:before,
.Copy:before {
    margin-left: 10px;
    margin-right: auto
}

.light .footer-logo {
    background: url(images/Daftra-logoEN.png) no-repeat;
    width: 113px;
    height: 39px;
    background-size: cover;
}

.dark .footer-logo {
    background: url(images/Daftra-logoEN.png) no-repeat;
    width: 113px;
    height: 39px;
    background-size: cover;
}

.value_highlight {
    border-right: 1px solid #d8e1e3;
    border-left: none
}

.value_highlight:first-child {
    border-right: none;
    border-left: none
}

.product-img {
    float: right
}

.product-img .overly {
    right: 0;
    left: auto
}

.selector-box span {
    float: right
}

.pop-actions a {
    margin-right: 8px;
    margin-left: auto
}

#ProductTags .ms-sel-ctn input {
    float: right
}

.report table td,
.report table th {
    font-family: tahoma
}

table.thickreport {
    border-left: 1px solid #d8e1e3;
    border-right: none
}

#remove_chart {
    left: 0;
    right: auto
}

.report-results-head th {
    text-align: right
}

.no-column-borders.report,
.no-column-borders.report td {
    border-left: none;
    border-right: none
}

.report .section-net td:first-child {
    border-right: none;
    border-left: none
}

.report table .indent-td td:first-child {
    padding-right: 19px !important;
    padding-left: 0
}

.report.no-collapse td,
.report.no-collapse th {
    border-left: none;
    border-right: 1px solid #d8e1e3
}

.gateways-list table td .submit {
    padding-right: 107px;
    padding-left: 0
}

.gateway-row h3 {
    padding-right: 45px;
    padding-left: 0
}

.payment-gateways .accordion-switch {
    right: 0px;
    left: auto
}

.checkbox input,
.checkbox label {
    float: right
}

.tabs-buttons ul li {
    float: right;
    padding-left: 3px;
    padding-right: 0
}

.tabs .tabs-buttons ul li a .tooltip a {
    left: 0;
    right: auto
}

.tabs-box {
    margin-right: 1px;
    margin-left: auto
}

.tabs-buttons ul li {
    float: right;
    padding-left: 3px;
    padding-right: 0
}

.tabs .tabs-buttons ul li a .tooltip a {
    left: 0;
    right: auto
}

.tabs-box {
    margin-right: 1px;
    margin-left: auto
}

.form_field_item[data-item_code="180"] .builder-item .col-md-6 .form-group input {
    border-right: 5px solid #247dbd !important;
    border-left: none !important;
}

.sub-item {
    background: url(images/bulk_actions_ar.gif) no-repeat right 12px;
    padding: 0 22px 0 0;
    float: right;
    margin: 0 10px 0 0
}

.sub-item-sub {
    float: right;
    margin: 0 10px 0 0
}

select,
textarea,
input {
    margin-left: 5px;
    margin-right: auto;
}

.filter-actions {
    float: right;
}

.filter-actions-fix .filter-actions {
    padding-right: 5px;
    padding-left: 0;
}

.filter-actions button {
    margin-left: 10px;
    margin-right: auto;
}

div.error-message:after {
    border-right: 6px solid transparent;
    border-left: 7px solid transparent;
    right: 17px;
    left: auto;
}

div.qty-message:after {
    border-right: 6px solid transparent;
    border-left: 7px solid transparent;
    margin-right: -5px;
    left: 50%;
    right: auto;
    margin-left: auto;
}

.checkbox label {
    padding-left: 10px;
    padding-right: 0;
}

.inside-field {
    padding-right: 165px;
    padding-left: 0;
}

.inside-field label {
    right: 0;
    left: auto;
    width: 160px;
}

.inside-field-large {
    padding-right: 140px;
    padding-left: 0;
}

.inside-field-large label {
    right: 0;
    left: auto;
}

.sub-domain input {
    text-align: left;
}

.day-view-entry-label.day-view-entry-label {
    border-left: none;
    border-right: 3px solid #d8e1e3;
}

.form-buttons {
    margin-left: 15px;
    margin-right: auto;
}

/* Mic*/

.placeholders ul {
    margin-right: 15px;
    margin-left: auto;
}

.fc {
    text-align: right;
}

.fc-rtl {
    text-align: left;
}

.fc .fc-button-group>* {
    float: right;
    margin: 0 -1px 0 0;
}

body .fc .fc-button-group>* {
    float: right;
    margin: 0 -1px 0 0;
}

.fc .fc-button-group> :first-child {
    margin-right: 0;
    margin-left: auto;
}

.fc-ltr .fc-popover .fc-header .fc-title,
.fc-rtl .fc-popover .fc-header .fc-close {
    float: right;
}

.fc-rtl .fc-popover .fc-header .fc-title,
.fc-ltr .fc-popover .fc-header .fc-close {
    float: left;
}

.fc-bg,
.fc-bgevent-skeleton,
.fc-highlight-skeleton,
.fc-helper-skeleton {
    right: 0;
    left: 0;
}

.fc-row table {
    /* don't put right/left border on anything within a fake row.
         the outer tbody will worry about this */
    border-right: 0 hidden transparent;
    border-left: 0 hidden transparent;
    border-right: none;
}

.fc-event.fc-selected .fc-resizer:before {
    right: 50%;
    margin-right: -20px;
    left: auto;
    margin-left: auto;
}

.fc-h-event.fc-selected:before {
    right: 0;
    left: 0;
}

.fc-ltr .fc-h-event.fc-not-start,
.fc-rtl .fc-h-event.fc-not-end {
    margin-right: 0;
    border-right-width: 0;
    padding-right: 1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;
    margin-left: auto;
}

.fc-ltr .fc-h-event.fc-not-end,
.fc-rtl .fc-h-event.fc-not-start {
    margin-left: 0;
    border-left-width: 0;
    padding-left: 1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 0;
    margin-right: auto;
}

.fc-ltr .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-end-resizer {
    right: -1px;
    left: auto;
}

.fc-ltr .fc-h-event .fc-end-resizer,
.fc-rtl .fc-h-event .fc-start-resizer {
    left: -1px;
    right: auto;
}

.fc-ltr .fc-h-event.fc-selected .fc-start-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-end-resizer {
    margin-right: -4px;
    margin-left: auto;
}

.fc-ltr .fc-h-event.fc-selected .fc-end-resizer,
.fc-rtl .fc-h-event.fc-selected .fc-start-resizer {
    margin-left: -4px;
    margin-right: auto;
}

.fc-day-grid-event.fc-selected:after {
    left: -1px;
    right: -1px;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer {
    margin-right: -2px;
    margin-left: auto;
}

.fc-ltr .fc-day-grid-event.fc-allow-mouse-resize .fc-end-resizer,
.fc-rtl .fc-day-grid-event.fc-allow-mouse-resize .fc-start-resizer {
    margin-left: -2px;
    margin-right: auto;
}

.fc-toolbar .fc-right {
    float: right;
}

.fc-toolbar .fc-left {
    float: left;
}

.fc .fc-toolbar>*>* {
    float: right;
    margin-right: .75em;
    margin-left: auto;
}

.fc .fc-toolbar>*> :first-child {
    margin-right: 0;
    margin-left: auto;
}

.fc-row.fc-rigid .fc-content-skeleton {
    right: 0;
    left: 0;
}

.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
}

.fc-rtl .fc-basic-view .fc-day-number {
    text-align: right;
}

.fc-ltr .fc-axis {
    text-align: left;
}

.fc-rtl .fc-axis {
    text-align: right;
}

.fc-time-grid .fc-content-skeleton {
    right: 0;
    left: 0;
}

.fc-time-grid .fc-highlight {
    right: 0;
    left: 0;
}

.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0 2px 0 2.5%;
}

.fc-rtl .fc-time-grid .fc-event-container {
    margin: 0 2.5% 0 2px;
}

.fc-time-grid .fc-bgevent {
    right: 0;
    left: 0;
}

.fc-v-event.fc-not-start {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.fc-v-event.fc-not-end {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.fc-time-grid-event.fc-allow-mouse-resize .fc-resizer {
    right: 0;
    left: 0;
}

.fc-time-grid-event.fc-selected .fc-resizer {
    right: 50%;
    margin-right: -5px;
    left: auto;
    margin-left: auto;
}

.fc-time-grid .fc-now-indicator-line {
    right: 0;
    left: 0;
}

.fc-ltr .fc-time-grid .fc-now-indicator-arrow {
    right: 0;
    left: auto;
}

.fc-rtl .fc-time-grid .fc-now-indicator-arrow {
    left: 0;
    right: auto;
}

.chosen-container-multi .chosen-choices li {
    float: right;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 0 3px 5px;
}

@media (max-width: 1024px) {
    .main-nav {
        right: -210px !important;
    }
    .btn-md.btn-addon i {
        float: right;
        margin: -10px -16px -7px 12px;
        border-radius: 0 1px 1px 0;
    }
    .btn-sm.btn-addon i {
        margin: -6px -11px -7px 12px;
        border-radius: 1px 0 0 1px;
        float: right;
    }
}

@media (max-width: 480px) {
    .input-group .pos2 {
        float: left !important;
    }
    .product-img {
        float: right
    }
    .product-img .overly {
        right: 0;
        left: auto
    }
    .item-list:hover .hover-caption,
    .item-list:focus .hover-caption {
        right: 0;
        left: auto
    }
    .hover-caption>.btn {
        float: right
    }
    .hover-caption>.btn:last-child {
        margin-right: -1px !important;
        margin-left: auto
    }
}

.bulk-actions {
    padding: 0 25px 0 0 !important;
}

.snippet-content a.close {
    left: -3px;
    right: auto
}

.snippet-content ol,
.snippet-content ul {
    padding-right: 25px;
    padding-left: 0
}

.snippet-content li span.number {
    right: 0;
    left: auto
}

textarea[readonly="readonly"] {
    margin: 0 7px 0 35px !important
}

@media only screen and (max-device-width :480px) {
    .posts .timeline-item::after {
        top: 55px;
    }
    .bulk-actions {
        background-position: right 17px;
    }
    .posts .timeline-item::before {
        top: 54px;
    }
    .posts .extend {
        top: 50px;
    }
    .results-counter {
        float: right !important;
    }
    .timeline-wrapper:before {
        right: 13px;
        left: auto
    }
    .extended .extend {
        right: -54px;
        left: auto
    }
    .timeline-item {
        margin-right: 40px;
        margin-left: auto
    }
    .extended .timeline-item {
        margin-right: 48px;
        margin-left: auto
    }
}

.mb-btn {
    margin: 0 0 5px 5px;
}

.loader-input i {
    left: 12px !important;
    right: auto !important;
}

#FilterDiv .panel-heading {
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.overflow_table_width {
    overflow-x: scroll
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: #d8e1e3;
}

/**** side menu****/

.main-nav li ul li a,
.main-nav li ul li a:hover {
    text-align: right !important
}

.main-nav {
    left: auto;
    /*
    right: -210px;
    overflow: scroll;
        */
}

/* width */

.main-nav::-webkit-scrollbar {
    width: 0;
}

/* Track */

.main-nav::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

.main-nav::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

.main-nav::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#shrink-sidebar {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}

#main-content {
    margin-right: 210px;
    margin-left: 0px;
}

.shrinked-sidebar #main-content {
    margin-right: 60px;
    margin-left: 0px;
}

.pages-head {
    left: 0;
    right: 210px;
}

.user-log {
    float: left;
}

.main-nav>ul>li a .fa-angle-down {
    left: 15px;
    right: auto;
}

.main-nav li ul li a,
.main-nav li ul li a:hover {
    padding: 10px 55px 10px 0;
}

.shrinked-sidebar .pages-head {
    left: 0;
    right: 60px;
}

.menu-overlay {
    left: 0;
    right: 210px;
}

.btn-fix {
    text-align: right;
}

input[type=file] {
    padding: 0;
    max-width: 100%;
}

/*.navbar-nav > li.res-right > a {*/

/*padding: 8px 5px 0 10px;*/

/*height: 45px;*/

/*}*/

.main-nav .mob-nav {
    direction: ltr;
}

.main-nav .mob-nav li {
    direction: rtl;
}

@media (max-width: 762px) {
    .float-left-mob {
        float: right !important;
    }
    .float-right-mob {
        float: left !important;
    }
    .btn-fix a {
        float: right !important;
        margin: 0 0 0 10px !important;
    }
}

/* Nav Right */

/* .shrinked-sidebar .main-nav {
    right:-210px;
} */

.shrinked-sidebar .main-nav li:hover .sub-menu-cont {
    left: initial;
    right: 100%;
}

.shrinked-sidebar .main-nav>ul>li:hover>a span {
    margin-left: initial;
    margin-right: 16px;
}

.shrinked-sidebar .main-nav li ul li a {
    padding: 10px 20px 10px 0;
}

.fa-chevron-left:before {
    content: "\f054";
}

.fa-chevron-right:before {
    content: "\f053";
}

.hide_zero {
    margin-right: 5px;
}

.B_clients_pay {
    float: right;
    margin: 0px 15px 0px 15px;
}

.B_clients_pay ul>li>span {
    direction: rtl !important;
}

.B_clients_pay ul>li .B_open {
    right: 12px;
    left: auto;
}

.B_clients_pay ul>li .B_overdue {
    right: 12px;
    left: auto;
}

.B_cost sub {
    right: 2px;
    left: auto;
}

.client-data-box .B_clients_pay>ul li {
    float: left;
}

.B_clients_open {
    border-right: 5px solid #e8ab21;
    border-left: none !important;
    padding-right: 10px;
    padding-left: 0;
}

.B_clients_credit {
    border-right: 5px solid green;
    border-left: none !important;
    padding-right: 10px;
    padding-left: 0;
}

.B_clients_pay>ul li {
    float: right;
    margin-left: 15px;
    margin-right: auto;
}

.B_clients_overdue {
    border-right: 5px solid #ce5032;
    border-left: none;
    padding-right: 10px;
    padding-left: 0;
}

@media (max-width: 767px) {
    .B_clients_pay {
        float: right;
        margin: 0px 15px 0px 15px;
    }
}