
<!doctype html>
<html lang="ara" dir="rtl" data-site-data='{"dateFormat": "d/m/Y"}'>
<head>
            <title>Edit | صفحة اتصل بنا #2 |  إدارة صفحات المحتوي | إدارة المحتوي | مؤسسة أعمال خاصة للتجارة</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="csrf-token" content="CbWH1K9P8sG2bGVaJ2RD3PKzboBfcb1Siutnlipw">
    <link rel="shortcut icon" href="/css/images/Daftra-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/beta.css?v=2" >
    <link rel="stylesheet" href="/css/app-manager-dropdown.css" />
    <link rel="stylesheet" href="https://cdn.daftra.com/assets/css/layout/app.min.css?v=129">
    <link rel="stylesheet" href="https://cdn.daftra.com/assets/css/layout/dark.min.css?v=129">
    <link rel="stylesheet" href="https://cdn.daftra.com/assets/css/layout/print.min.css?v=129">
    <link rel="stylesheet" href="/css/templates.css?v=129">
    <link rel="stylesheet" type="text/css" href="/dist/daftra/daftra.compat.styles.css" />
    <link id="help-css" rel="stylesheet" type="text/css" href="../dist/app/js/pages/help/help.styles.css" media="all">

    <script src="https://cdn.daftra.com/assets/js/layout/plugin_jquery.js?v=135"></script>
    
                <link rel="stylesheet" href="https://cdn.daftra.com/assets/css/create/create.min.css"/>
        <link rel="stylesheet" href="https://cdn.daftra.com/assets/js/forms/plugin_jqueryui.js"/>
        <link rel="stylesheet" href="../dist/css/grapes.min.css">
        <link rel="stylesheet" href="https://jesst4you.daftra.com/v2/css/grapesjs-preset-webpage.min.css"/>
            <style>
       
    </style>
    <style>
        .header-nav.navbar-nav li .user-dropdown .dropdown-item i {
            top: -1px;
            font-size: 15px;
            margin-left: 5px !important;
        }
        .beta-dropdown {
            right: 0px;
            left: auto;
        }
        .rtl .beta-dropdown{
            left: 0;
            right: auto;
        }
        
        </style>
    
    
</head>
<body class="ad1  rtl ">
<div class="page-content">
    <!-- Content !-->


 
<script src="/js/app-manager-dropdown.js?v=3"></script>

        <!-- content !-->


<!-- Start - Notification div will be loaded inside notification drop down list -->
<div id="notification-template" class="notification-item notification-item-hover border-0" hidden>
    <div class="d-flex justify-content-between">
        <div class="text">
            <a class="view-url" href="#">
                <p class="text-muted font-weight-medium message-content">
                    <!-- message will be here -->
                </p>
            </a>
        </div>
    </div>
    <div class="notification-meta d-flex justify-content-between">
        <span class="text-muted opacity-50 font-weight-bold date notification-date"><!-- date will be here --></span>
        <a href="#" class="text-success font-weight-bold link view-url">عرض</a>
        <a href="#" data-dismiss-all="صرف النظر عن الكل" class="text-danger font-weight-bold dismissed-url">
            <i class="mdi mdi-minus-circle"></i>
            <span class="mr-1">صرف النظر</span>
        </a>
    </div>
</div>
<!-- End - Notification div will be loaded inside notification drop down list -->
<div id="no-notification-div" class="alert alert-warning text-center mb-0" hidden>
    لا يوجد أي إشعارات نشطة لإظهارها
</div>

        <div class="main-area">
            <div class="container-fluid">
                                                                                 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="pages-head-title">
                    
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="action-buttons">
                                                                        <button
                            type="button"
                            class="btn cancel-btn btn-icon btn-secondary "
                            name=""
                            id=""
                            value=""
                            >
                            <i class="mdi mdi-close"></i>إلغاء</button>
                                                                                                <button
                            type="button"
                            class="btn btn-icon btn-success ml-sm-2 "
                            name=""
                            id=""
                            value=""
                             onclick="save()" >
                            <i class="mdi mdi-content-save-outline"></i>حفظ</button>
                                                            </div>

            </div>
        </div>
    </div>

</div>
        <form method="POST" action="https://jesst4you.daftra.com/v2/owner/contents/2" accept-charset="UTF-8" id="editForm" class="form-validate" enctype="multipart/form-data"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="CbWH1K9P8sG2bGVaJ2RD3PKzboBfcb1Siutnlipw">
    <div class="card mb-3">
        <div class="card-header">
            <h6>معلومات المحتوى</h6>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group  input-error-target"    >

        
                                                                                                                                                                    <label for="title" class="control-label">الاسم <span class="required">*</span>
                                                                    </label>
            
                                                                    <input id="title" class="form-control" required="required" name="title" type="text" value="Contact Us Page">
                
                <div class="invalid-message filled backend-error">
                            <span></span>
                    </div>
        
            </div>

                </div>
                            </div>
            <input type="hidden" value=page name="type">
                    </div>
    </div>
    </form>

    <div id="gjs">
    </div>
            </div>
        </div>
    </div>
        
        <div class='modal fade' tabindex='-1' aria-hidden='true' name='izam__global-ajax-modal' id='izam__global-ajax-modal' aria-labelledby='izam__global-ajax-modal'>
            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body overflow-auto">
                        <div data-ajax-modal-content="izam__global-ajax-modal"></div>
                    </div>
                </div>
            </div>
        </div>
            <div class="modal fade" id="promptModalDelete-global" tabindex="-1" role="dialog" aria-labelledby="promptModalLabel-global"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-transparent border-0 position-absolute w-100" style="z-index: 9;">
                    <h5 class="modal-title d-none" id="promptModalLabel-global"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <i class="mdi mdi-trash-can-outline display-4 text-danger"></i>
                    <div id="prompt-body-global"></div>
                </div>
              
            </div>
        </div>
    </div>
</div>
<div id="help-container">
<div class="modal-bg-container">
        <div class="modal-bg"></div>
    </div>
    <div id="modal-container" >
    </div>
</div>

<script>
    var izamNavigation = {"first_page_url":null,"last_page_url":null,"next_page_url":null,"prev_page_url":null,"add_page_url":null}</script>
<script src="https://cdn.daftra.com/assets/js/layout/helpers.js?v=135"></script>
<script src="https://cdn.daftra.com/assets/js/layout/libs.js?v=135"></script>
<script src="https://cdn.daftra.com/assets/js/layout/app.js?v=135"></script>
<script src="https://jesst4you.daftra.com/v2/translation?v=135"></script>
<script src="https://jesst4you.daftra.com/v2/js/helpers/utils.js?v=135"></script>
<script src="/js/iframe-resizer.js?v=135"></script>
<script src="/js/beta.js?v=1"></script>
<script type="text/javascript" src="/js/navigation-shortcuts.js"></script>
<script type="text/javascript" src="/js/navigation-listener.js"></script>
<script type="text/javascript" src="/js/modals.js"></script>
<script type="text/javascript">
        $(document).on('click','.support-btn, .support-modal-btn', function() {
            IzamModal.closeModals();
            IzamModal.addUrlModal('/v2/owner/support-channels/index', '', '', false, false)
        })
</script>



        <script src="https://jesst4you.daftra.com/v2/js/grapes.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://jesst4you.daftra.com/v2/js/grapesjs-preset-webpage.min.js"></script>
    <script src="https://jesst4you.daftra.com/v2/js/grapesjs-tui-image-editor.min.js"></script>
    <script type="text/javascript">
        
        var editor = grapesjs.init({
            container : '#gjs',
            allowScripts: 1,
            components: `<div id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="text-center pt-18">
                    <h1 class="fs-40 font-weight-extrabold text-dark mb-8">اتصل بنا</h1>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="https://cdn.daftra.com/templates/shop_1/img/map.svg" alt="Map" class="img-fluid mb-4 mx-auto w-100">
                    </div>
                    <div class="col-lg-6">
                        <p class="text-dark fs-18 font-weight-semibold mb-6">إليك بعض الطرق للتواصل معنا.</p>
                        <div class="mb-4">
                            <i class="fas fa-phone fs-16 w-16px h-16px text-primary mr-3"></i><span class="fs-16 font-weight-medium text-dark">{{mobile}}</span>
                        </div>
                        <div class="mb-4">
                            <i class="fas fa-envelope fs-16 w-16px h-16px text-primary mr-3"></i><span class="fs-16 font-weight-medium text-dark">{{email}}</span>
                        </div>
                        <div class="mb-4">
                            <i class="fab fa-whatsapp fs-16 w-16px h-16px text-primary mr-3"></i><span class="fs-16 font-weight-medium text-dark">{{whatsapp}}</span>
                        </div>
                        <div class="mb-4">
                            <i class="fas fa-map-marker-alt fs-16 w-16px h-16px text-primary mr-3"></i><span class="fs-16 font-weight-medium text-dark">{{address}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</div>
`,
            style: ` [data-gjs-type=wrapper] {min-height:100px} `,
            plugins: ['gjs-preset-webpage'],
            pluginsOpts: {
                'gjs-preset-webpage': {},
            },
            storageManager: {
                type: 'remote',
                stepsBeforeSave: 1,
                urlStore: 'https://jesst4you.daftra.com/v2/owner/contents/2/saveContent',
                autosave: false,
                autoload: false,
                urlLoad: '',
                params: {},   // For custom values on requests
            },
            assetManager: {
                assets:[],
                upload: 'https://jesst4you.daftra.com/v2/owner/shop_front_media/upload_media',
            },
            canvas: {
                styles: ['https://cdn.daftra.com/templates/shop_1/css/app.min.css'],
            }
        });
        var assets = editor.AssetManager.getAll() // <- Backbone collection
        assets.on('remove', function(asset) {
            $.ajax({
                url: 'https://jesst4you.daftra.com/v2/owner/shop_front_media/delete_upload_media',
                method: 'POST',
                headers: {
                    'X-CSRF-TOKEN': 'CbWH1K9P8sG2bGVaJ2RD3PKzboBfcb1Siutnlipw'
                },
                data: {
                    file: asset.get('id'),
                }
            })
        })

        function save() {
            window.onbeforeunload = null;
            $.ajax({
                    url: 'https://jesst4you.daftra.com/v2/owner/contents/2/saveContent',
                    method: 'POST',
                    headers: {
                        'X-CSRF-TOKEN': 'CbWH1K9P8sG2bGVaJ2RD3PKzboBfcb1Siutnlipw'
                    },
                    data: {
                        'gjs-html': editor.getHtml(),
                        'gjs-css': editor.getCss(),
                        'scripts':[]                    }
            })
           
            $('#editForm').submit();
        }
        </script>
    <script>
        
         var notificationUrl = "https://jesst4you.daftra.com/v2/api/owner/notifications";
         var notificationCountUrl = "https://jesst4you.daftra.com/v2/api/owner/notifications/count";
    </script>
    <script src="https://jesst4you.daftra.com/v2/js/notifications/drop-down-notification.js"></script>
    <script>
        var setAppBreadcrumbs = function(bcArray) {
            var listItems = [];
            for(i=0; i < bcArray.length -1; i++){
                var el = bcArray[i];
                var listItem = $(`<li  class="breadcrumb-item "><a href="${el.link}">${el.title}</a></li>`)
                listItems.push(listItem);
            }
            var el = bcArray.pop();
            var listItem = $(`<li aria-current="page" class="breadcrumb-item active">${el.title}</li>`)
            listItems.push(listItem);
            $('#header-breadcrumb').html("");
            listItems.forEach(function (el) {
                $('#header-breadcrumb').append(el);
            });
        }
    </script>

<script src="/dist/daftra/daftra.compat.js"></script>
 <script type="text/javascript" src="/js/navigation-shortcuts.js"></script>
</body>
</html>
