.steper {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #d8e1e3;
    padding: 15px;
}

.steper ul {
    list-style-type: none;
}

.steper ul li {
    float: left;
    margin-right: 25px;
    position: relative;
    font-weight: bold;
    line-height: 34px;
    color: #888;
    padding-right: 20px;
}

.steper ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.steper ul li:after {
    content: '';
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid #d8e1e3;
}

.steper ul li.current:after {
    border-left: 10px solid #ec971f;
}

.steper ul li:last-child:after {
    border: none;
}

.steper ul li.current {
    color: #ec971f;
}

.steper ul li.current span {
    background: #ec971f;
    color: #fff;
}

.steper ul li.done:after {
    border-left: 10px solid #28a745;
}

.steper ul li.done {
    color: #28a745;
}

.steper ul li.done span {
    background: #28a745;
    color: #fff;
}

.steper ul li p {
    display: inline;
    color: inherit;
    position: relative;
    top: 7px;
}

.steper ul li.done span i {
    margin-top: 8px;
}

.steper ul li span {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: 3px solid #eee;
    background: #ddd;
    color: #555;
    font-size: 25px;
    text-align: center;
    line-height: 42px;
    margin-right: 8px;
    border-radius: 50%;
}

.grid-table .form-control {
    width: auto;
    max-width: 170px;
}

.grid-row td {
    width: 50%;
}