/*filters tag*/

.filter-tags {
    list-style: none;
    padding: 3px 15px;
    overflow: hidden
}

.filter-tags li {
    background: #fff;
    border: 1px solid #CCC;
    display: inline;
    float: left;
    font-size: 12px;
    margin: 0 3px;
    padding: 6px 5px 6px 11px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px
}

.filter-tags li a {
    padding: 0 3px 0 5px
}

.payment-container {
    padding-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px
}

/*tables*/

table th a {
    color: #58666e
}

/*tables*/

.listing-table {
    border-collapse: collapse;
}

.listing-table th,
.listing-table .table-header td {
    padding: 5px 10px;
    text-align: left;
    border: 1px solid #D4D4D4;
    border-collapse: collapse;
    font-size: 12px;
    font-weight: 700;
}

.listing-table th {
    vertical-align: middle;
    white-space: nowrap;
    line-height: 22px;
    background: #f9f9f9 url(images/sub-actions.gif) repeat-x bottom;
    border: 1px solid #D4D4D4;
    color: #000;
}

.listing-table th span {
    white-space: nowrap
}

.listing-table th:hover,
.listing-table .table-header td:hover {
    background: url(images/table_header_inverted.gif) repeat-x center
}

.listing-table td {
    padding: 3px 10px;
    border: 1px solid #D4D4D4;
    border-collapse: collapse;
    vertical-align: middle;
    cursor: default;
    border-top: 0
}

.listing-table .totals-row td {
    background: #f1ffe5
}

.listing-table td.empty-cell,
.listing-table td:hover.empty-cell {
    border: 1px solid #fff;
    border-right: 1px solid #ccc;
    background: #fff;
}

.listing-table .totals-row:hover {
    background: none
}

.listing-table td a:hover.button {
    background-color: #FFFFFF
}

.listing-table td ul.action {
    display: inline;
}

.listing-table .table-header a {
    text-decoration: none;
    display: block;
    padding-right: 15px;
    text-decoration: none;
    display: block;
    padding-right: 15px;
    cursor: help
}

.listing-table .table-header th.desc,
.listing-table .table-header th.asc {
    background: url(images/table_header_inverted.gif) repeat-x center;
}

.listing-table .table-header th.desc a {
    background: url(images/sort_down.gif) right center no-repeat;
}

.listing-table .table-header th.asc a {
    background: url(images/sort_up.gif) right center no-repeat;
}

.data-table {
    margin-bottom: 10px;
}

.data-table tr:hover {
    background: #f1ffe5;
}

.data-table tr.selected td {
    background: #f0fcff;
}

.invoice-fields table {
    border-collapse: collapse;
}

.invoice-payments .listing-table {
    margin: 15px 0
}

/*tables columns width*/

th.multi-select {
    width: 20px;
    text-align: center
}

th.client-number {
    width: 35px
}

th.id,
th.no {
    width: 35px;
    white-space: nowrap;
}

th.date {
    width: 110px;
}

/* actions */

.action {
    list-style: none;
    margin: 0 auto;
}

.action li {
    display: inline;
    float: left;
    padding: 0;
    position: relative;
}

.action li ul {
    position: absolute;
    display: none;
    top: auto;
}

.action li ul li {
    float: none;
    display: block
}

.action a {
    white-space: nowrap;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d8e1e3;
    border-radius: 2px;
    color: #58666e;
    font-size: 13px;
    font-weight: 600;
    margin: 4px;
    padding: 2px 5px;
    display: inline-block
}

/*
.action a.View { background:url(images/action-icons/view.png) no-repeat 3px; }
a.Default { background:url(images/action-icons/tick.png) no-repeat 3px }
a.Edit { background:url(images/action-icons/edit.png) no-repeat 3px }
a.Delete { background:url(images/action-icons/delete.png) no-repeat 5px }
a.Pdf { background:url(images/action-icons/pdf.png) no-repeat 3px }
a.Web { background:url(images/action-icons/web.png) no-repeat 3px }
a.Html { background:url(images/action-icons/html.png) no-repeat 3px }
a.Print { background:url(images/action-icons/print.png) no-repeat left center }
a.Payment { background:url(images/action-icons/pay.png) no-repeat 6px }
a.Send { background:url(images/action-icons/send.png) no-repeat 3px 3px; }
a.Loginas { background:url(images/minimal-ico/key.png) no-repeat 5px; }
a.statement { background:url(images/minimal-ico/monitor.png) no-repeat 5px; }
a.send-statement { background:url(images/action-icons/statement-send.png) no-repeat 5px; }
a.Accept{ background:url(images/minimal-ico/checkmark.png) no-repeat 5px; }
*/

.listing-table a {
    white-space: nowrap
}

.listing-table span.tooltip a:hover {
    background: none
}

.tips-image {
    margin: 0 4px 0 3px;
    display: inline-block;
    cursor: help;
}

.tooltip-box {
    position: absolute;
    display: none;
    z-index: 100;
    padding: 10px;
    background-color: #fffddc;
    border: 1px solid #f3bba5;
    font-size: 11px;
    color: #333;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif, "Trebuchet MS"
}

.tooltip-box p {
    padding: 0;
}

span.tooltip {
    position: relative;
    right: 0;
    top: 0;
    padding: 0
}

.listing-table a:hover.delete-ico {
    background: none
}

.new-row .button {
    padding: 4px 15px;
    font-size: 12px;
    border-top: 0
}

.new-row a {
    border-top: none;
}

.new-row a span {
    font-weight: 700;
    font-size: 14px;
    padding-right: 5px;
}

.total-row td {
    padding: 8px 10px
}

.taxs-table .input {
    padding: 0
}

/* paging */

.Paging {
    float: right;
    clear: both;
}

.paging {
    padding: 0;
    height: 30px;
}

.paging ul {
    list-style: none;
}

.paging ul li {
    display: inline;
    float: left;
    height: 30px;
    line-height: 30px;
}

.paging ul li a,
.paging ul li.current {
    display: block;
    height: 30px;
    margin: 0 2px;
    font-size: 12px;
    padding: 0px 11px;
    border: 1px solid #aaa;
    background: #ddd;
    border-radius: 3px;
}

.paging ul li a:hover {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #247dbd;
}

.paging ul li.current {
    font-weight: 700;
    float: left;
    border: none;
}

.paging ul li a {
    text-decoration: none;
}

.bulk-actions {
    background: url(images/bulk_actions.gif) no-repeat left;
    padding: 6px 25px;
    margin-left: 18px;
    float: left;
    display: inline;
}

.bulk-actions a {
    overflow: hidden;
}

@media (min-width: 1024px) {
    .bulk-actions a {
        margin-right: 7px;
        padding: 4px 8px;
        font-size: 11px;
    }
}