/* hidden elements */

.actions-bar,
.actions-bar,
.no-print,
.header-elements,
#main-nav,
.crumbs,
.filter-results,
.footer-bar,
.bulk-actions,
.results-counter {
    display: none;
    padding: 0;
    margin: 0
}

@media print {
    .report table td {
        font-size: 11px;
    }
    .footer,
    .pages-head,
    .pages-head a,
    .popup-chat,
    .btn-group.right.m-b-20,
    .Submit.btn-md,
    #FilterDiv,
    .actions-bar,
    .actions-bar,
    .no-print,
    .header-elements,
    #main-nav,
    .crumbs,
    .filter-results,
    .footer-bar,
    .bulk-actions,
    .results-counter,
    .notice-bar {
        display: none !important;
    }
    #charts-wrap.hidden-div {
        display: none;
    }
}

/* New fixes */

@page {
    size: auto;
    margin-left: 5mm;
    margin-right: 5mm;
}

@media print {
    * {
        transition: none !important;
    }
    body,
    .layout,
    .container,
    .container.resize-container,
    .main-area {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }
    body {
        zoom: 75%;
    }
    .reports-header {
        border: 0 !important;
    }
    table.table-bordered.list-table {
        /*table-layout: fixed;*/
        word-wrap: break-word;
        border: 0 !important;
    }
    table.table-bordered.list-table thead tr td,
    table.table-bordered.list-table thead tr th,
    table.table-bordered.list-table tbody tr td,
    table.table-bordered.list-table tbody tr th {
        padding: 2px 7px !important;
        line-height: 1 !important;
        font-size: 18px !important;
    }
    table.table-bordered.list-table thead tr td,
    table.table-bordered.list-table thead tr th,
    table.table-bordered.list-table tbody tr th {
        font-weight: 500 !important;
        border-top: 0 !important;
        border-bottom: 2px solid #000 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        color: #000 !important;
    }
    table.table-bordered.list-table tbody tr td {
        font-weight: normal !important;
        border-left: 0 !important;
        border-right: 0 !important;
        color: #000 !important;
    }
    .btn-group,
    .tooltip,
    .nav-tabs {
        display: none;
    }
}

.chart-wrap div[aria-label="A tabular representation of the data in the chart."] {
    display: none;
}