/* .breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-break-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-nav li .sub-menu-cont,.sub-list{width:270px} */