@import "../variables";
@import "../mixins";

#shrink-sidebar {
    i {
      &:before{
        @include ltr('.shrinked-sidebar'){
          transform: rotateY(-180deg);
        }
        @include rtl(){
          transform: rotateY(-180deg);
        }
        @include rtl('.shrinked-sidebar'){
          transform: rotateY(0deg);
        }
      }
    }
  }