@import "../variables";
@import "../mixins";

.main-nav{
  .simplebar-content-wrapper,
  .simplebar-mask{
    @include body('.shrinked-sidebar'){
      overflow: visible !important;
    }
  }
  ul{
    li.super-menu{
      ul.sub-menu{
        li{
          a{
            @include rtl(){
              padding: 10px 20px 10px 0;
              font-size: 13px;
            }
            @include ltr(){
              padding: 10px 0 10px 20px;
            }
            &:hover{
              @include rtl(){
                padding: 10px 20px 10px 0;
              }
              @include ltr(){
                padding: 10px 0 10px 20px;
              }
            }
          }
        }
      }
      /* Custom Menu Styles */
      &.mn_organizational,
      &.mn_installment_agreement,
      &.mn_sales-commissions-parent, 
      &.mn_rental,
      &.mn_multi-line {
        a.menu-item{
          display: flex;
          align-items: center;
          padding-top: 5px;
          padding-bottom: 5px;
          @include ltr(){
            padding-right: 15px;
            padding-left: 0;
          }
          @include rtl(){
            padding-left: 0;
            padding-right: 0;
          }
          @include body('.shrinked-sidebar'){
            display: block;
          }
          span{
            line-height: 1;
            @include ltr(){
              padding-left: 2px;
            }
            @include rtl(){
              padding-left: 35px;
            }
          }
        }
      }
      &.mn_client_loyalty_points {
        a.menu-item{
          display: flex;
          align-items: center;
          padding-top: 2px;
          padding-bottom: 2px;
          @include ltr(){
            padding-right: 25px;
            padding-left: 0;
          }
          @include rtl(){
            padding-left: 0;
            padding-right: 0;
          }
          @include body('.shrinked-sidebar'){
            display: block;
          }
          span{
            line-height: 1;
            @include ltr(){
              padding-left: 2px;
            }
            @include rtl(){
              padding-left: 35px;
            }
          }
        }
      }
    }
  }
}
