@import "../variables";
@import "../mixins";
@import "../../../../../node_modules/bootstrap-v4-rtl/scss/functions";
@import "../../../../../node_modules/bootstrap-v4-rtl/scss/variables";
@import "../../../../../node_modules/bootstrap-v4-rtl/scss/mixins";

// Width and Height
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}

// Background
@each $color, $value in $theme-colors {
  .s2020.bg-#{$color} {
    background-color: $value !important;
  }
}

// Font sizes
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $fs_label, $fs_size in $font_sizes {
      .fs#{$infix}-#{$fs_label}{
        font-size: $fs_size !important;
      }
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $lh_label, $lh_size in $line_height_sizes {
      .lh#{$infix}-#{$lh_label}{
        line-height: $lh_size !important;
      }
    }
  }
}

// Spinners
@keyframes loading-spinner-icon {
  to { transform: rotate(360deg); }
}
.loading-spinner-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: loading-spinner-icon .75s linear infinite;
  animation: loading-spinner-icon .75s linear infinite;
}

// Page Loader
.page-loader{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(228, 235, 242, 0.85);
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner-wrap{
    text-align: center;
    .loading-spinner-icon{
      width: 64px;
      height: 64px;
    }
    .spinner-text{
      margin-top: 15px;
      font-weight: bold;
      font-size: 1.25rem;
      padding: 15px;
    }
  }
}


// Is Loading
.is-loading{
  position: relative;
  overflow: hidden;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(228, 235, 242, 1);
    z-index: 99;
  }
  &:after{
    content: $mdi-loading;
    font-family: "Material Design Icons";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 54px;
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite;
  }
}

.text-decoration-underline {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.border {
  border-width: 1px;
  border-style: solid;
}

.border-blue {
  border-color: #00afee;
}

.d-inline-block {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-block {
  display: block;
}

.rounded-0 {
  border-radius: 0;
}

.rounded-3px {
  border-radius: 3px;
}

.shadow-light {
  box-shadow: 0 0 1px 1px rgba($light-sky, 0.6);
}

.overflow-hidden {
  overflow: hidden;
}
