<div class="sidebar">
    <ul>
        <li><a href="dashboard.html"><i class="fas fa-tachometer-alt"></i> لوحة التحكم</a></li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-shopping-cart"></i> المبيعات</a>
            <ul>
                <li><a href="invoice-management.html"><i class="fas fa-receipt"></i> إدارة الفواتير</a></li>
                <li><a href="sales%20invoice.html"><i class="fas fa-plus-circle"></i> إنشاء فاتورة</a></li>
                <li><a href="quotation-management.html"><i class="fas fa-tags"></i> إدارة عروض الأسعار</a></li>
                <li><a href="quotation.html"><i class="fas fa-plus-circle"></i> إنشاء عرض سعر</a></li>
                <li><a href="credit_note.html"><i class="fas fa-plus-circle"></i> إنشاء أشعار دائن</a></li>
                <li><a href="returned_invoices.html"><i class="fas fa-plus-circle"></i> الفواتير المرتجعة</a></li>
                <li><a href="recurring-invoices.html"><i class="fas fa-sync"></i> الفواتير الدورية</a></li>
                <li><a href="customer_payments.html"><i class="fas fa-plus-circle"></i> مدفوعات العملاء</a></li>
                <li><a href="sales-settings.html"><i class="fas fa-cogs"></i> إعدادات المبيعات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-cash-register"></i> نقاط البيع</a>
            <ul>
                <li><a href="start-sale.html"><i class="fas fa-play"></i> بدء البيع</a></li>
                <li><a href="sessions.html"><i class="fas fa-layer-group"></i> الجلسات</a></li>
                <li><a href="pos-report.html"><i class="fas fa-chart-bar"></i> تقرير نقاط البيع</a></li>
                <li><a href="pos-settings.html"><i class="fas fa-cog"></i> إعدادات نقاط البيع</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-store"></i> المتجر الإلكتروني</a>
            <ul>
                <li><a href="index.html"><i class="fas fa-tools"></i> إدارة المحتوى</a></li>
                <li><a href="store-settings.html"><i class="fas fa-wrench"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-calendar-alt"></i> الحجوزات</a>
            <ul>
                <li><a href="#"><i class="fas fa-calendar-check"></i> إدارة الحجوزات</a></li>
                <li><a href="#"><i class="fas fa-plus-square"></i> أضف حجز</a></li>
                <li><a href="#"><i class="fas fa-sliders-h"></i> إعدادات الحجز</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-coins"></i> إدارة الأقساط</a>
            <ul>
                <li><a href="#"><i class="fas fa-hand-holding-usd"></i> اتفاقيات التقسيط</a></li>
                <li><a href="#"><i class="fas fa-coins"></i> الأقساط</a></li>
                <li><a href="#"><i class="fas fa-exclamation-circle"></i> المتأخرات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-bullseye"></i> المبيعات المستهدفة والعمولات</a>
            <ul>
                <li><a href="#"><i class="fas fa-percentage"></i> قواعد العمولة</a></li>
                <li><a href="#"><i class="fas fa-percentage"></i> عمولات المبيعات</a></li>
                <li><a href="#"><i class="fas fa-clock"></i> فترات المبيعات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-users"></i> العملاء</a>
            <ul>
                <li><a href="#"><i class="fas fa-users-cog"></i> إدارة العملاء</a></li>
                <li><a href="add_customer.html"><i class="fas fa-plus-circle"></i> أضف عميل جديد</a></li>
                <li><a href="schedule_appointment.html"><i class="fas fa-plus-circle"></i> المواعيد</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i> قائمة الاتصال</a></li>
                <li><a href="#"><i class="fas fa-handshake"></i> إدارة علاقات العملاء</a></li>
                <li><a href="settings-clients.html"><i class="fas fa-plus-circle"></i> أعدادات العميل </a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-money-bill-wave"></i> النقاط والأرصدة</a>
            <ul>
                <li><a href="#"><i class="fas fa-money-check"></i> إدارة شحن الأرصدة</a></li>
                <li><a href="#"><i class="fas fa-hand-holding-usd"></i> إدارة استهلاك الأرصدة</a></li>
                <li><a href="#"><i class="fas fa-box"></i> إدارة الباقات</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-user-shield"></i> وكلاء التأمين</a>
            <ul>
                <li><a href="#"><i class="fas fa-user-shield"></i> إدارة وكلاء التأمين</a></li>
                <li><a href="#"><i class="fas fa-plus-circle"></i> أضف شركة تأمين</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-boxes"></i> المخزون</a>
            <ul>
                <li><a href="products.htm"><i class="fas fa-plus-circle"></i> أدارة المنتجات</a></li>
                <li><a href="#"><i class="fas fa-clipboard-list"></i> إدارة الأذونات المخزنية</a></li>
                <li><a href="#"><i class="fas fa-barcode"></i> تتبع المنتجات</a></li>
                <li><a href="#"><i class="fas fa-list"></i> قوائم الأسعار</a></li>
                <li><a href="warehouses.html"><i class="fas fa-plus-circle"></i> المستودعات</a></li>
                <li><a href="inventory-list.html"><i class="fas fa-plus-circle"></i> أدارة الجرد</a></li>
                <li><a href="inventory-settings.html"><i class="fas fa-plus-circle"></i> أعدادات االمخزون</a></li>
                <li><a href="stock-management-options.html"><i class="fas fa-plus-circle"></i> أعدادات المنتجات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-shopping-cart"></i> المشتريات</a>
            <ul>
                <li><a href="purchase-orders.html"><i class="fas fa-undo"></i> فواتير الشراء</a></li>
                <li><a href="purchase-return-list.html"><i class="fas fa-undo"></i> مرتجعات المشتريات</a></li>
                <li><a href="debit-notices.html"><i class="fas fa-sticky-note"></i> إشعارات مدينة</a></li>
                <li><a href="suppliers-list.html"><i class="fas fa-user-tie"></i> إدارة الموردين</a></li>
                <li><a href="supplier-payments-tracking.html"><i class="fas fa-money-check-alt"></i> مدفوعات الموردين</a></li>
                <li><a href="purchase_invoice_config.html"><i class="fas fa-file-alt"></i> إعدادات فواتير الشراء</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> إعدادات الموردين</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-file-invoice-dollar"></i> المالية</a>
            <ul>
                <li><a href="expenses_actions_page.html"><i class="fas fa-file-invoice-dollar"></i> المصروفات</a></li>
                <li><a href="actions_page.html"><i class="fas fa-file-signature"></i> سندات القبض</a></li>
                <li><a href="treasuries_bank_accounts.html"><i class="fas fa-university"></i> خزائن وحسابات بنكية</a></li>
                <li><a href="financial_settings.html"><i class="fas fa-cogs"></i> إعدادات المالية</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-book"></i> الحسابات العامة</a>
            <ul>
                <li><a href="journal_entries.html"><i class="fas fa-book"></i> القيود اليومية</a></li>
                <li><a href="add_entry.html"><i class="fas fa-plus-square"></i> أضف قيد</a></li>
                <li><a href="chart_of_accounts.html"><i class="fas fa-book-open"></i> دليل الحسابات</a></li>
                <li><a href="cost_centers.html"><i class="fas fa-project-diagram"></i> مراكز التكلفة</a></li>
                <li><a href="assets.html"><i class="fas fa-clipboard-list"></i> الأصول</a></li>
                <li><a href="#"><i class="fas fa-cog"></i> إعدادات الحسابات العامة</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-money-check"></i> دورة الشيكات</a>
            <ul>
                <li><a href="#"><i class="fas fa-money-check"></i> الشيكات المدفوعة</a></li>
                <li><a href="#"><i class="fas fa-money-check-alt"></i> الشيكات المستلمة</a></li>
                <li><a href="#"><i class="fas fa-cog"></i> إعدادات دورة الشيكات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-box"></i> الطلبات</a>
            <ul>
                <li><a href="#"><i class="fas fa-box"></i> إدارة الطلبات</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-user-tie"></i> الموظفين</a>
            <ul>
                <li><a href="#"><i class="fas fa-user-tie"></i> إدارة الموظفين</a></li>
                <li><a href="#"><i class="fas fa-user-shield"></i> إدارة أدوار الموظفين</a></li>
                <li><a href="#"><i class="fas fa-business-time"></i> إدارة الورديات</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-sitemap"></i> الهيكل التنظيمي</a>
            <ul>
                <li><a href="#"><i class="fas fa-sitemap"></i> إدارة المسميات الوظيفية</a></li>
                <li><a href="#"><i class="fas fa-users-cog"></i> إدارة الأقسام</a></li>
                <li><a href="#"><i class="fas fa-level-up-alt"></i> إدارة المستويات الوظيفية</a></li>
                <li><a href="#"><i class="fas fa-th-large"></i> إدارة أنواع الوظائف</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-calendar-check"></i> سجلات الحضور</a>
            <ul>
                <li><a href="#"><i class="fas fa-calendar-alt"></i> أيام الحضور</a></li>
                <li><a href="#"><i class="fas fa-clipboard-list"></i> دفاتر الحضور</a></li>
                <li><a href="#"><i class="fas fa-plane-departure"></i> أذونات أجازة</a></li>
                <li><a href="#"><i class="fas fa-file-alt"></i> طلبات الأجازة</a></li>
                <li><a href="#"><i class="fas fa-business-time"></i> إدارة الورديات</a></li>
                <li><a href="#"><i class="fas fa-sliders-h"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-money-check"></i> المرتبات</a>
            <ul>
                <li><a href="#"><i class="fas fa-file-contract"></i> العقود</a></li>
                <li><a href="#"><i class="fas fa-money-bill-wave"></i> مسير الرواتب</a></li>
                <li><a href="#"><i class="fas fa-receipt"></i> قسائم الرواتب</a></li>
                <li><a href="#"><i class="fas fa-hand-holding-usd"></i> السلف</a></li>
                <li><a href="#"><i class="fas fa-file-alt"></i> بنود الرواتب</a></li>
                <li><a href="#"><i class="fas fa-file-invoice"></i> قوالب الرواتب</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> الإعدادات</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-chart-pie"></i> التقارير</a>
            <ul>
                <li><a href="reports.html "><i class="fas fa-chart-line"></i> تقارير المبيعات</a></li>
                <li><a href="purchase-reports.html"><i class="fas fa-chart-bar"></i> تقارير المشتريات</a></li>
                <li><a href="financial-reports-summary.html"><i class="fas fa-file-invoice"></i> تقارير الحسابات العامة</a></li>
                <li><a href="check-reports.html"><i class="fas fa-money-check"></i> تقارير الشيكات</a></li>
                <li><a href="points-balances-reports.html"><i class="fas fa-wallet"></i> تقارير النقاط والأرصدة</a></li>
                <li><a href="employee-reports.html"><i class="fas fa-users"></i> تقارير الموظفين</a></li>
                <li><a href="supply-orders-reports.html"><i class="fas fa-clipboard-list"></i> تقرير أوامر التوريد</a></li>
                <li><a href="client-reports.html"><i class="fas fa-handshake"></i> تقارير العملاء</a></li>
                <li><a href="inventory-reports.html"><i class="fas fa-clipboard-list"></i> تقارير المخزون</a></li>
                <li><a href="account-activity-log.html"><i class="fas fa-clipboard-list"></i> سجل نشاطات الحساب</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-code-branch"></i> الفروع</a>
            <ul>
                <li><a href="branches.html"><i class="fas fa-code-branch"></i> إدارة الفروع</a></li>
                <li><a href="add-branch.html"><i class="fas fa-plus-circle"></i> أضف فرع</a></li>
                <li><a href="branch-settings.html"><i class="fas fa-cog"></i> إعدادات الفروع</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-print"></i> القوالب</a>
            <ul>
                <li><a href="printing-templates.html"><i class="fas fa-print"></i> قوالب الطباعة</a></li>
                <li><a href="#"><i class="fas fa-receipt"></i> قوالب الفواتير الجاهزة</a></li>
                <li><a href="#"><i class="fas fa-envelope"></i> قوالب البريد الإلكتروني</a></li>
                <li><a href="#"><i class="fas fa-file-contract"></i> الشروط والأحكام</a></li>
                <li><a href="#"><i class="fas fa-folder-open"></i> إدارة الملفات والمستندات</a></li>
                <li><a href="#"><i class="fas fa-sync-alt"></i> قواعد الإرسال الآلي</a></li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="toggleMenu(event)"><i class="fas fa-cogs"></i> الإعدادات</a>
            <ul>
                <li><a href="#"><i class="fas fa-info-circle"></i> معلومات الحساب</a></li>
                <li><a href="account-settings.htm"><i class="fas fa-sliders-h"></i> إعدادات الحساب</a></li>
                <li><a href="#"><i class="fas fa-at"></i> إعدادات SMTP</a></li>
                <li><a href="#"><i class="fas fa-wallet"></i> طرق الدفع</a></li>
                <li><a href="#"><i class="fas fa-list-ol"></i> إعدادات الترقيم التسلسلي</a></li>
                <li><a href="#"><i class="fas fa-percentage"></i> إعدادات الضرائب</a></li>
                <li><a href="#"><i class="fas fa-cogs"></i> إدارة التطبيقات</a></li>
                <li><a href="#"><i class="fas fa-paint-brush"></i> شعار وألوان النظام</a></li>
                <li><a href="#"><i class="fas fa-code"></i> API</a></li>
            </ul>
        </li>
    </ul>
</div>
