.one-item-delte {
    padding: 10px;
    margin: 10px 5px 0px 5px;
    border: 1px solid #f05050;
    display: inline-block;
    border-radius: 3px;
    /* border-radius: 43%; */
    color: #f05050 !important;
    font-size: 15px;
}

.one-item-delte b {
    padding: 5px;
    text-decoration: underline;
    /* font-size: 16px; */
    color: red;
}

.config-msg .confirm-message {
    text-align: center;
}

.config-msg .confirm-message h2 {
    margin-bottom: 5px !important;
}

.config-msg .delete-items span.one-item {
    display: inline-block !important;
    /* float: left; */
    /* background: #fff; */
    /* border: 1px solid #dbe7f3; */
    font-size: 15px !important;
    font-weight: 700 !important;
    /* padding: 10px; */
    margin: 5px !important;
    float: none !important;
}

.config-msg .delete-items {
    margin-top: 20px !important;
}

.config-msg .delete-items span.seprated-item {
    float: none !important;
}