	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/09/2018 13:59
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("fonts/Flaticon.eot");
	    src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon.woff") format("woff"), url("fonts/Flaticon.ttf") format("truetype"), url("fonts/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("fonts/Flaticon.svg#Flaticon") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: 24px;
	    font-style: normal;
	}

	.flaticon-cash-register-machine:before {
	    content: "\f100";
	}

	.flaticon-cogwheel:before {
	    content: "\f101";
	}

	.flaticon-invoices:before {
	    content: "\f102";
	}

	.flaticon-email-templates:before {
	    content: "\f103";
	}

	.flaticon-staff:before {
	    content: "\f104";
	}

	.flaticon-time-tracking2:before {
	    content: "\f105";
	}

	.flaticon-work-orders2:before {
	    content: "\f106";
	}

	.flaticon-tool:before {
	    content: "\f107";
	}

	.flaticon-support:before {
	    content: "\f108";
	}

	.flaticon-clinic:before {
	    content: "\f109";
	}

	.flaticon-expenses2:before {
	    content: "\f10a";
	}

	.flaticon-income:before {
	    content: "\f118";
	}

	.flaticon-time-tracking:before {
	    content: "\f10b";
	}

	.flaticon-work-orders:before {
	    content: "\f10c";
	}

	.flaticon-clients2:before {
	    content: "\f10d";
	}

	.flaticon-email-templates2:before {
	    content: "\f10e";
	}

	.flaticon-invoices2:before {
	    content: "\f10f";
	}

	.flaticon-reports:before {
	    content: "\f110";
	}

	.flaticon-home2:before {
	    content: "\f111";
	}

	.flaticon-accounting:before {
	    content: "\f112";
	}

	.flaticon-clients3:before {
	    content: "\f113";
	}

	.flaticon-communication:before {
	    content: "\f114";
	}

	.flaticon-home:before {
	    content: "\f115";
	}

	.flaticon-shop-front:before {
	    content: "\f116";
	}

	.flaticon-payroll:before {
	    content: "\f117";
	}

	.flaticon-expenses:before {
	    content: "\f118";
	}

	.flaticon-products:before {
	    content: "\f119";
	}

	.flaticon-product:before {
	    content: "\f119";
	}

	.flaticon-clients:before {
	    content: "\f11a";
	}

	.flaticon-client:before {
	    content: "\f11a";
	}

	.flaticon-database:before {
	    content: "\f11b";
	}

	.flaticon-settings:before {
	    content: "\f11c";
	}

	.flaticon-sms:before {
	    content: "\f11d";
	}

	.flaticon-settings2:before {
	    content: "\f11e";
	}

	.flaticon-reports2:before {
	    content: "\f11f";
	}

	.flaticon-prescription:before {
	    content: "\f120";
	}

	.flaticon-expense:before {
	    content: "\f121";
	}

	.flaticon-invoice_payment:before {
	    content: "\f102";
	}

	.flaticon-purchase_order_payment:before {
	    content: "\f102";
	}

	.flaticon-pos:before {
	    content: "\f100";
	}

	.flaticon-time_tracking:before {
	    content: "\f10b"
	}

	.flaticon-work_orders:before {
	    content: "\f10c"
	}

	.flaticon-work_order:before {
	    content: "\f10c"
	}

	.flaticon-requisition:before {
	    content: "\f117"
	}

	.laticon-profit:before {
	    content: "\f121"
	}

	.flaticon-user:before {
	    content: "\f10e";
	}

	/*
  Flaticon icon font: Flaticon2
  Creation date: 11/01/2021 11:08
  */

	@font-face {
	    font-family: "Flaticon2";
	    src: url("fonts/Flaticon2.eot");
	    src: url("fonts/Flaticon2.eot?#iefix") format("embedded-opentype"), url("fonts/Flaticon2.woff2") format("woff2"), url("fonts/Flaticon2.woff") format("woff"), url("fonts/Flaticon2.ttf") format("truetype"), url("fonts/Flaticon2.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon2";
	        src: url("./Flaticon2.svg#Flaticon") format("svg");
	    }
	}

	.flaticon-appointments:before {
	    content: "\f100";
	    font-family: Flaticon2;
	}

	.flaticon-stocktaking:before {
	    content: "\f101";
	    font-family: Flaticon2;
	}

	@font-face {
	    font-family: "flaticon3";
	    src: url("./fonts/flaticon3.ttf?f22ab86c3e9ed9d75c7f6ed0afcd7c85") format("truetype"), url("./fonts/flaticon3.woff?f22ab86c3e9ed9d75c7f6ed0afcd7c85") format("woff"), url("./fonts/flaticon3.woff2?f22ab86c3e9ed9d75c7f6ed0afcd7c85") format("woff2"), url("./fonts/flaticon3.eot?f22ab86c3e9ed9d75c7f6ed0afcd7c85#iefix") format("embedded-opentype"), url("./fonts/flaticon3.svg?f22ab86c3e9ed9d75c7f6ed0afcd7c85#flaticon") format("svg");
	}

	.flaticon-journal:before {
	    content: "\f101";
	    font-family: flaticon3 !important;
	}