<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فاتورة مبيعات</title>


<body>
    <style> 
        body {
            font-family: 'Tahoma', sans-serif;
            direction: rtl;
            margin: 0;
            padding: 20px;
            background-color: #f8f9fa;
        }
        .invoice-container {
            max-width: 800px; 
            margin: auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    
    </style>
<div class="invoice-container">
    <div class="invoice-header">
        <div class="company-details">
            <h1><input type="text" placeholder="'طريقة الدفعة" value="الطريقة"></h1>
            <input type="text" placeholder="أسم العميل" value="العميل">

        </div>
   
</html>